.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0px;
  z-index: 10;
  padding-bottom: 20px;
  padding-top: 65px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent 23%,
    rgba(0, 0, 0, 0.29) 48%,
    #080808
  );
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
